# Simple reference notebook for the basics of pandas

In [13]:
import pandas as pd
import sqlite3
import sqlalchemy as sa


conn = sqlite3.connect('test.db')

df = pd.read_sql_query('select * from movie', conn)

print(df)

                                        title  year  score
0             Monty Python and the Holy Grail  1975    8.2
1  And Now for Something Completely Different  1971    7.5
2     Monty Python Live at the Hollywood Bowl  1982    7.9
3          Monty Python's The Meaning of Life  1983    7.5
4                Monty Python's Life of Brian  1979    8.0